.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .5s linear;
}

.khan__buy-link:hover {
  opacity: 0.4;
}